<<<<<<< HEAD
<div>
  <h3>Comments :</h3>
  
  <%@showArticle.comments.each do |comment|%>
    <div class="card boder:none">
      <% unless comment.archived? %>
        <p>
          <strong>Commenter:</strong>
          <%=comment.commenter%>
        </p>

        <p>
          <strong>Comment: </strong>
          <%=comment.body%>
        </p>
        <p>
          <%=link_to "Delete", [comment.article,comment],data:{turbo_method: :delete, turbo_confirm:"Are your sure?"},class:"btn btn-danger"%>
        </p>
      <%end%>
    </div>
  <%end%>
<br>

</div>
=======

<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>


  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>


<%end%>

>>>>>>> development
