<div class="card-body">
  <%= form_with model: articleForm do |form| %>

    <% if articleForm.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(articleForm.errors.count, "error") %> prohibited this Article from being saved:</h2>

        <ul>
          <% articleForm.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group" >
      <%= form.label :title ,class:"form-label"%>
      <%= form.text_field :title,class:"form-control" %>
    </div>

    <div class="field form-group" >
      <%= form.label :body ,class:"form-label"%>
      <%= form.text_area :body,class:"form-control" %>
    </div>

    <div class="field form-group" > 
      <%= form.label :status ,class:"form-label"%><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public',class:"form-control" %>
    </div>
    <br>
    <div class="field form-group" >
      <%if params[:id].nil?%>
        <%= form.submit value:"Create Article",class:"btn btn-success"%>
      <% else %>
        <%= form.submit value:"Update Article",class:"btn btn-primary"%>
      <% end %>
    </div>
  
  <% end %>

</div>
