<<<<<<< HEAD
<div>
  <div class="card">
    <h2 class="card-header">
      <%= @showArticle.title%>
    </h2>
    <%if @showArticle.picture.attached?%>
      <%=link_to image_tag(@showArticle.picture,width:"100px"), @showArticle.picture,width: "200"%>
    <%end%>
    <br>
    <%if @showArticle.images.attached?%>
      <%@showArticle.images.each do |image|%>
        <%=link_to image_tag(image,width:"100px"), image,width: "200"%>
        <br>
      <%end%>
    <%end%>
    <div class="card-body">
      <%if @showArticle.body.length >300 %>
        <%=link_to truncate(@showArticle.body,length:300)%>
      <%else%>
        <%=@showArticle.body%>
      <%end%>
      <br>
      <br>
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <%= link_to "Home", articles_path, class:"btn btn-primary"%> |
        <%= link_to "Edit" , edit_article_path(@showArticle), class:"btn btn-secondary"%> |
        <%= link_to "Destroy", article_path(@showArticle), data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} ,class:"btn btn-danger"%>
      </div>
    </div>
  </div>
  <%= render @showArticle.comments%>
  <%= render 'comments/comment'%>
  <%= render 'comments/form' %>
</div>
=======
<h3><%=@article.title%></h3>
<p><%=@article.body%></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %>|
 <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </li>



<h2>Comments</h2>

<%=render @article.comments%>

  <h2>Add a comment:</h2>
<%= render 'comments/form'%>
>>>>>>> development
