<div>
  <div class="card">
    <div class="card-header">
      <h1> <%= @showArticle.title%></h1>
      <h6>status: <%=@showArticle.status%></h6>
    </div>
    <div class="m-2 p-2">
      <%if @showArticle.picture.attached?%>
        <%=link_to image_tag(@showArticle.picture,width:"100px"), @showArticle.picture,width: "200"%>
      <%end%>
    </div>
    <div class="m-2 p-2">
      <%if @showArticle.images.attached?%>
        <%@showArticle.images.each do |image|%>
          <%=link_to image_tag(image,width:"100px"), image,width: "200"%>
          <br>
        <%end%>
      <%end%>
    </div>
    <div class="card-body m-2 p-2">
      <%if @showArticle.body.length >300 %>
        <%=link_to truncate(@showArticle.body,length:300)%>
      <%else%>
        <%=@showArticle.body%>
      <%end%>
      <br>
      <br>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group p-1" role="group" aria-label="First group">
          <%= link_to "Home", articles_path, class:"btn btn-primary"%>
        </div>
        <div class="btn-group p-1" role="group" aria-label="Second group">
          <%= link_to "Edit" , edit_article_path(@showArticle), class:"btn btn-secondary"%>
        </div>
        <div class="btn-group p-1" role="group" aria-label="Third group">
          <%= button_to "Delete", @showArticle, method: :delete ,form: { data: { turbo_confirm: 'Are you sfda fsure?' } },class:"btn btn-danger"%>
        </div>
      </div>
    </div>
  </div>
  <%= render 'comments/comment'%>
  <%= render 'comments/form' %>
</div>
